@import 'reset';
@import 'variables/golbal';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/green';

body {
  font: var(--font-l);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content {
  display: flex;
}

.pageWrapper {
  flex: 1;
  overflow-y: auto;
  padding: var(--default-padding);
  width: '100%';
  height: calc(100vh - var(--navbar-height));
}
