@import 'reset';
@import 'variables/golbal';
@import 'themes/light';
@import 'themes/dark';

.app {
  min-height: 100vh;
  font: var(--font-l);
  color: var(--primary-color);
  background: var(--bg-color);
}

.content {
  display: flex;
}

.page-wrapper {
  flex: 1;
  padding: var(--default-padding);
}
