:root {
  // Font family
  --font-family-main: 'Nunito Sans', 'Times New Roman', serif;

  // Font size Header
  --font-size-h: 24px;
  --font-line-h: 32px;
  --font-h: var(--font-size-h) / var(--font-line-h) var(--font-family-main);

  // Font size Small
  --font-size-s: 13px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // Font suze Large
  --font-size-l: 16px;
  --font-line-l: 24px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Margins
  --default-margin: 10px;

  // Paddings
  --default-padding: 20px;

  // Animations
  --default-anim-duration: 0.3s;

  // Colors
  --overlay: rgba(0 0 0 / 60%);
  --main-blue: #0466c8;
  --light-blue: #5e9ddc;
  --main-gray: #293347;
  --light-gray: #858ea1;
  --white: #fff;
  --black: #000;
  --green: #20bf6b;
  --red: #f25252;

  // z-Index
  --modal-z-index: 10;
  --dropdown-z-index: 20;
  --tooltip-z-index: 30;
}
