.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width var(--default-anim-duration);
}

.isCollapsed {
  width: var(--sidebar-width-collapsed);
}

.linksContainer {
  flex: 1;
  margin-left: 29px;
}
