.sidebar {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width var(--default-anim-duration);
}

.isCollapsed {
  width: var(--sidebar-width-collapsed);
}

.icon * {
  stroke: var(--inverted-primary-color);
}

.btnWrapper {
  position: absolute;
  right: -13px;
  top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.btnBorder {
  border: 1px solid var(--inverted-primary-color);
}

.linksContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 29px;
}

.linkWrapper {
  padding-top: 10px;
}
