.text {
  // text
}

.error {
  color: var(--red) !important;
}

.small {
  font: var(--font-s);
}

.medium {
  font: var(--font-m);
}

.large {
  font: var(--font-l);
}

.header {
  font: var(--font-h);
}
