.appDarkTheme {
  --bg-color: #293347;
  --inverted-bg-color: #d5e6f7;
  --primary-color: #dde2ed;
  --secondary-color: #afbacc;
  --inverted-primary-color: #293347;

  // Skeleton
  --skeleton-color: #858ea1;

  // Code
  --code-bg: #858ea1;

  // Card
  --card-bg: #1a202d;

  // Selected Icon
  --selected-icon-inverted: #0080ff;

  // ListBox
  --listbox-bg: #3a4967;
  --listbox-selected-bg: #2e3f60;
}
