.appDarkTheme {
  --bg-color: #293347;
  --inverted-bg-color: #d5e6f7;
  --primary-color: #dde2ed;
  --secondary-color: #afbacc;
  --inverted-primary-color: #293347;

  // Skeleton
  --skeleton-color: #858ea1;
}
