.appGreenTheme {
  --bg-color: #f4fbf6;
  --inverted-bg-color: #13361c;
  --primary-color: #13361c;
  --secondary-color: #f4fbf6;
  --inverted-primary-color: #f4fbf6;

  // Skeleton
  --skeleton-color: #bdd7c5;

  // Code
  --code-bg: #bdd7c5;

  // Card
  --card-bg: #d1d8d3;
}
