.appLightTheme {
  --bg-color: #d5e6f7;
  --inverted-bg-color: #293347;
  --primary-color: #293347;
  --secondary-color: #023e7d;
  --inverted-primary-color: #dde2ed;

  // Skeleton
  --skeleton-color: #f1f7fd;

  // Code
  --code-bg: #f1f7fd;
}
