.button {
  cursor: pointer;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px 16px;
  background-color: inherit;
}

.outline {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--inverted-bg-color);
  border-radius: 3px;
  padding: 10px 16px;
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}
