.articleImageBlock {
  // articleImageBlock
}

.img {
  max-width: '100%';
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: '100%';
}

.titleWrapper {
  display: flex;
  justify-content: center;
  width: '100%';
}
