.avatar {
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 16%) 0 3px 6px, rgb(0 0 0 / 23%) 0 3px 6px;
  object-fit: cover;
}

.small {
  width: 30px;
  height: 30px;
}

.large {
  width: 150px;
  height: 150px;
}
