.articleDetails {
  height: '100%';
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.articleInfoWrapper {
  display: flex;
  align-items: center;
}

.titleText {
  margin-left: 5px;
}

.block {
  margin-top: 16px;
}
