.profileCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  height: 100vh;
}

.cardWrapper {
  width: 60vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnsWrapper {
  display: flex;
  align-items: center;
}

.btnLast {
  margin-left: 5px;
}

.content {
  margin-top: 10px;
}
